.toWatchCardContainerRow1{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-left: 50px;
}
.toWatchCardContainerRow2{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-left: 50px;
}
.toWatchCardContainerRow3{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-left: 50px;
}
.toWatchCardContainerRow4{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-left: 50px;
}