.RegistationFileContainer{
    color: white;
    padding-bottom: 52px;
    padding-top: 20px;
}

.registationHeader{
    padding-top: 25px;
    font-size: 30px;
    color: orange;
    align-items: center;

}

.insideFormContainer{
    margin-left: 600px;
    margin-right: 500px;
}